<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
</head>
    <header>
        <img src="/images/logo-mercado-liebre.jpg.svg" alt="logo de mercado liebre">
        <div>Lugar para poner barra de busqueda</div>
        <div><p>Comprá en cuotas y sin tarjeta de crédito</p></div>
           <nav>
               <ul>
                   <li><a href="/ofertas">Ofertas</a></li>
                   <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
                   <li><a href="/vender">Vender</a></li>
                   <li><a href="/ayuda">Ayuda</a></li>
                </ul>
                <ul>
                   <li><a href="">Creá tu cuenta</a></li>
                   <li><a href="">Ingresá</a></li>
                   <li><a href="">Mis compras</a></li>
                </ul>
           </nav>
    </header>
    <body>
      <main>
        <section>
          <h3>Basado en tu última vista</h3>
            <div><img src="/images/img-cafetera-moulinex.jpg" width="240" alt="imagen img-cafetera-moulinex"></div>
            <div>$6770</div>
            <div>40 % OFF</div>
            <div><h4>Cafetera Moulinex</h4></div>
            
            <div><img src="/images/img-macbook-pro-2019.jpg" width="240" alt="imagen img-macbook-pro-2019"></div>
            <div>$230000</div>
            <div>20 % OFF</div>
            <div><h4>MacBook Pro 2019</h4></div>
            
            <div><img src="/images/img-samsung-galaxy-s10.jpg" width="240" alt="imagen img-samsung-galaxy-s10"></div>
            <div>$70500</div>
            <div>10 % OFF</div>
            <div><h4>Samsung Galaxy S10</h4></div>
            
            <div><img src="/images/img-tv-samsung-smart.jpg" width="240" alt="imagen img-tv-samsung-smart"></div>
            <div>$23200</div>
            <div>5 % OFF</div>
            <div><h4>SmartTv Samsung 43"</h4></div>
        </section>
        <section>
          <h3>Sección de ofertas</h3>  
          <div><img src="/images/img-cafetera-moulinex.jpg" width="240" alt="imagen img-cafetera-moulinex"></div>
          <div>$6770</div>
          <div>40 % OFF</div>
          <div><h4>Cafetera Moulinex</h4></div>

          <div><img src="/images/img-macbook-pro-2019.jpg" width="240" alt="imagen img-macbook-pro-2019"></div>
            <div>$230000</div>
            <div>20 % OFF</div>
            <div><h4>MacBook Pro 2019</h4></div>
            
            <div><img src="/images/img-samsung-galaxy-s10.jpg" width="240" alt="imagen img-samsung-galaxy-s10"></div>
            <div>$70500</div>
            <div>10 % OFF</div>
            <div><h4>Samsung Galaxy S10</h4></div>
            
            <div><img src="/images/img-tv-samsung-smart.jpg" width="240" alt="imagen img-tv-samsung-smart"></div>
            <div>$23200</div>
            <div>5 % OFF</div>
            <div><h4>SmartTv Samsung 43"</h4></div>
        </section>

    </main>
    
    <footer>
      <section>
              <h5>Pagá con tarjeta o en efectivo</h5>
        <div><p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p></div>
      </section>
      <section>
        <h5>Envío gratis desde $2.500</h5> 
        <div><p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.
          </p></div>       
      </section>
      <section>
        <h5>Seguridad, de principio a fin</h5>
          <div><p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p></div>
      </section>
        <div><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></div>
      
        </footer>
  </body>
</html>

<!-- debe tener #header 
                #main
                #footer -->